{% extends 'base.html.twig' %}

{% block title %}Resonance Catalog Export{% endblock %}

{% block content %}

    <h1>Export data</h1>

    <div class="row">
        <div class="col-6">
            {{ form(form) }}
        </div>
        <div class="col">
            In order to export fill the form and click "Export".
        </div>
    </div>

{% endblock %}
