<div class="accordion" id="MMRIntro">

    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              What is the mean motion resonance?
            </button>
            </h2>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#MMRIntro">
            <div class="card-body">
                Mean motion resonance represents a commensurability between the mean frequencies of the orbital motions of an asteroid and a planet.
                <br><br>
                <blockquote class="blockquote">
                <p class="mb-0">An orbital resonance occurs when orbiting bodies exert a regular, periodic gravitational influence on each other,
                usually because their orbital periods are related by a ratio of small integers.
                Most commonly this relationship is found for a pair of objects.</p>
                <footer class="blockquote-footer">Source: <cite title="Source Title"><a href="https://en.wikipedia.org/wiki/Orbital_resonance">Wikipedia</a></cite></footer>
                </blockquote>

                Apart from the mean motion resonances, so-called secular resonances (Murray and Dermott, 1999; Morbidelli, 2002), representing commensurabilities between the precession rates of the orbits of an asteroid and a planet, are important in forming the dynamical structure of the asteroid belt.
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Why MMRs are so important?
            </button>
            </h2>
        </div>
        <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#MMRIntro">
            <div class="card-body">
                A substantial role of resonances in the dynamics of asteroids became evident
                with the discovery of <i>resonant gaps</i> in the asteroid belt by D. Kirkwood in 1867.
                The deepest minima in the distribution of asteroids in the semimajor axes
                of their orbits correspond to the mean motion resonances 2/1, 3/1, 4/1, 5/2, and 7/3 with Jupiter.

                <figure class="figure">
                <img src="{{ asset('images/Kirkwood_Gaps.png') }}" class="rounded mx-auto d-block" width="50%">
                <figcaption class="figure-caption text-center">Kirkwood Gaps (Source: <a href="https://en.wikipedia.org/wiki/Orbital_resonance">Wikipedia</a>)</figcaption>
                </figure>

            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingThree">
            <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              What types of MMRs are presented in the Solar System?
            </button>
            </h2>
        </div>
        <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#MMRIntro">
            <div class="card-body">
                <p>
                There are two important classes of the mean motion resonances: apart from <b>the usual
                (two-body) mean motion resonances</b> of an asteroid and a planet, an appreciable role
                in the asteroidal dynamics is played by so-called
                <b>three-body mean motion resonances</b> (Murray et al., 1998; Nesvorny and Morbidelli, 1998; Nesvorny and Morbidelli, 1999;
                Morbidelli, 2002).
                </p>
                <p>
                In the latter case, the resonance represents a commensurability between the mean frequencies
                of the orbital motions of an asteroid and two planets (e.g., Jupiter and Saturn).
                </p>
                <p>
                In view of the <i>overdensity</i> of the three-body resonances in the phase space of the asteroidal motion,
                Nesvorny and Morbidelli (1998) asserted:
                </p>
                <blockquote class="blockquote">
                    <p class="mb-0">the three-body mean motion resonances seem to be the main actors structuring the dynamics in the main asteroid belt</p>
                    <footer class="blockquote-footer">Nesvorny, Morbidelli (1998) <cite title="Source Title">Astron. J.</cite></footer>
                </blockquote>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="heading4">
            <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                What articles to read about MMRs?
            </button>
            </h2>
        </div>
        <div id="collapse4" class="collapse show" aria-labelledby="heading4" data-parent="#MMRIntro">
            <div class="card-body">
                <p>
                    <b>The papers written by the authors of this web service:</b>
                </p>

                <ul>
                    <li>
                        <a href="https://www.sciencedirect.com/science/article/abs/pii/S0019103517300386?via%3Dihub">
                            Evgeny A. Smirnov, Ilya S. Dovgalev, Elena A. Popova. Asteroids in three-body mean motion resonances with planets. 2018. Icarus. V. 304. Pp. 24-30.
                        </a>
                        <br>The main results shown on this website are provided in this paper.
                    </li>
                    <li>
                        <a href="https://www.sciencedirect.com/science/article/abs/pii/S0019103512004435?via%3Dihub">
                            Evgeny A.Smirnov, Ivan I.Shevchenko. Massive identification of asteroids in three-body resonances. 2013. Icarus. V. 222. I. 1. Pp. 220-228.
                        </a>
                        <br>Original paper with the method used to identify the mean motion resonances.
                    </li>
                    <li>
                        <a href="https://academic.oup.com/mnras/article-abstract/469/2/2024/3760292?redirectedFrom=fulltext">
                            Evgeny A. Smirnov  Alexey B. Markov. Identification of asteroids trapped inside three-body mean motion resonances: a machine-learning approach.
                            2017. Monthly Notices of the Royal Astronomical Society. V. 469. I. 2. Pp. 2024-2031.
                        </a>
                        <br>Another ML approach to the identification of the resonances.
                    </li>
                    <li>
                        <a href="https://link.springer.com/article/10.1134%2FS003809461702006X">
                            E. A. Smirnov. Asteroids in three-body mean-motion resonances with Jupiter and Mars. 2017. Solar System Research. V. 51. I.2. Pp. 145-149.
                        </a>
                        <br>Preliminary results of the identification of three-body mean-motion resonances.
                    </li>
                </ul>

                <p>
                    <b>Others:</b>
                </p>
                <ul>
                    <li>
                        <a href="https://link.springer.com/article/10.1023%2FA%3A1008347020890">
                            D. Nesvorný, A. Morbidelli. An Analytic Model of Three-Body Mean Motion Resonances. 1998. Celestial Mechanics and Dynamical Astronomy. V. 71. I. 4. Pp. 243-271.
                        </a>
                        <br>The explanation of the theory behind three-body MMRs.
                    </li>
                    <li>
                        <a href="https://iopscience.iop.org/article/10.1086/300632/meta">
                            D. Nesvorný, A. Morbidelli. Three-Body Mean Motion Resonances and the Chaotic Structure of the Asteroid Belt. 1998. The Astronomical Journal. V. 116. N. 6.
                        </a>
                        <br>First identification of the three-body mean-motion resonances.
                    </li>
                    <li>
                        <a href="https://iopscience.iop.org/article/10.1086/300586/meta">
                            N. Murray, M. Holman, M. Potter. On the Origin of Chaos in the Asteroid Belt. 1998. The Astronomical Journal. V. 116. N. 5.
                        </a>
                    </li>
                    <li>
                        <a href="https://www.sciencedirect.com/science/article/pii/S0032063317304178?via%3Dihub">
                            Tabaré Gallardo. Resonances in the asteroid and trans–Neptunian belts: A brief review. 2018. V. 157. Pp. 96-103.
                        </a>
                    </li>
                    <li>
                        <a href="https://www.sciencedirect.com/science/article/abs/pii/S0019103584710207?via%3Dihub">
                            Andrea Milani, Zoran Knežević. Asteroid Proper Elements and the Dynamical Structure of the Asteroid Main Belt. 1994. Icarus. V. 107. I. 2. Pp. 219-254.
                        </a>
                        <br>Proper elements definition used for this website.
                    </li>
                    <li>
                        <a href="https://www.sciencedirect.com/science/article/abs/pii/S0019103506001229?via%3Dihub">
                            Tabaré Gallardo. Atlas of the mean motion resonances in the Solar System. 2006. Icarus. V. 184. I. 1. Pp. 29-38.
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="heading4">
            <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                Where to download the software used to build this catalog and this website?
            </button>
            </h2>
        </div>
        <div id="collapse5" class="collapse show" aria-labelledby="heading5" data-parent="#MMRIntro">
            <div class="card-body">
                <p>
                    All software used for the scientific research is open-source under MIT license. You are free to use.
                </p>

                <ul>
                    <li>
                        <a href="https://github.com/4xxi/resonances-database">
                            Github: SQL-dump that contains the full database of all resonances in the Solar System including the catalog of proper elements.
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/4xxi/resonances-fortran">
                            Github: The software written in fortran that was used to build the catalog of the resonances.
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/4xxi/resonances-ml">
                            Github: Machine-learning tool used to identify three-body resonances (written in Python).
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/smirik/resonances-web">
                            Github: The code of this website.
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
