{% extends 'base.html.twig' %}

{% block title %}Resonance Catalog Export{% endblock %}

{% block content %}

    <h1>Contact us</h1>

    <div class="alert alert-primary" role="alert">
        To contact us please use the following e-mail: <a href="mailto:smirik@gmail.com">smirik@gmail.com</a>.
    </div>
    <h4>Other links:</h4>
    <ul>
        <li><a href="https://www.researchgate.net/profile/Evgeny_Smirnov2">ResearchGate</a></li>
        <li><a href="https://github.com/smirik">Github</a></li>
        <li><a href="http://linkedin.com/in/smirik/">LinkedIn</a></li>
        <li><a href="https://twitter.com/smirik">Twitter</a></li>
        <li><a href="https://facebook.com/smirik">Facebook</a></li>
    </ul>

{% endblock %}
