{% extends 'base.html.twig' %}

{% block title %}The full catalog of three-body and two-body mean motion resonances in the Solar System.{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-7">
        {% include "default/_intro.html.twig" %}
        </div>
        <div class="col">
            <h4>Draw a chart</h4>
            <hr>
            {{ form_start(form, {'action': path('three_body_libration_find'), 'method': 'GET'}) }}
            {{ form(form) }}
            <hr>
            {% include 'default/_threebody_resonances_list.html.twig' %}
            {% include 'default/_twobody_resonances_list.html.twig' %}
        </div>
    </div>

{% endblock %}
