<div class="accordion" id="MMRIntro">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          What is the mean motion resonance?
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        Mean motion resonance represents a commensurability between the mean frequencies of the orbital motions of an asteroid and a planet. 
        <br><br>
        <blockquote class="blockquote">
            <p class="mb-0">An orbital resonance occurs when orbiting bodies exert a regular, periodic gravitational influence on each other, 
            usually because their orbital periods are related by a ratio of small integers. 
            Most commonly this relationship is found for a pair of objects.</p>
            <footer class="blockquote-footer">Source: <cite title="Source Title"><a href="https://en.wikipedia.org/wiki/Orbital_resonance">Wikipedia</a></cite></footer>
        </blockquote>

        Apart from the mean motion resonances, so-called secular resonances (Murray and Dermott, 1999; Morbidelli, 2002), representing commensurabilities between the precession rates of the orbits of an asteroid and a planet, are important in forming the dynamical structure of the asteroid belt.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Why MMRs are so important?
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        A substantial role of resonances in the dynamics of asteroids became evident 
        with the discovery of <i>resonant gaps</i> in the asteroid belt by D. Kirkwood in 1867. 
        The deepest minima in the distribution of asteroids in the semimajor axes 
        of their orbits correspond to the mean motion resonances 2/1, 3/1, 4/1, 5/2, and 7/3 with Jupiter.

        <figure class="figure">
            <img src="{{ asset('images/Kirkwood_Gaps.png') }}" class="rounded mx-auto d-block" width="50%">
            <figcaption class="figure-caption text-center">Kirkwood Gaps (Source: <a href="https://en.wikipedia.org/wiki/Orbital_resonance">Wikipedia</a>)</figcaption>
        </figure>

      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          What types of MMRs are presented in the Solar System?
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        <p>
        There are two important classes of the mean motion resonances: apart from <b>the usual 
        (two-body) mean motion resonances</b> of an asteroid and a planet, an appreciable role 
        in the asteroidal dynamics is played by so-called 
        <b>three-body mean motion resonances</b> (Murray et al., 1998; Nesvorny and Morbidelli, 1998; Nesvorny and Morbidelli, 1999;
        Morbidelli, 2002). 
        </p>
        <p>
        In the latter case, the resonance represents a commensurability between the mean frequencies 
        of the orbital motions of an asteroid and two planets (e.g., Jupiter and Saturn).
        </p>
        <p>
        In view of the <i>overdensity</i> of the three-body resonances in the phase space of the asteroidal motion, 
        Nesvorny and Morbidelli (1998) asserted:
        </p>
        <blockquote class="blockquote">
            <p class="mb-0">the three-body mean motion resonances seem to be the main actors structuring the dynamics in the main asteroid belt</p>
            <footer class="blockquote-footer">Nesvorny, Morbidelli (1998) <cite title="Source Title">Astron. J.</cite></footer>
        </blockquote>
        
      </div>
    </div>
  </div>
</div>