<footer class="pt-4 my-md-3 pt-md-3 border-top">
    <div class="row">
        <div class="col-12 col-md">
            <small class="d-block mb-3">
                If you use the results of the website please cite the following papers: <br>
                <ul>
                    <li>
                        <a href="https://www.sciencedirect.com/science/article/abs/pii/S0019103517300386?via%3Dihub">
                            Evgeny A. Smirnov, Ilya S. Dovgalev, Elena A. Popova. Asteroids in three-body mean motion resonances with planets. 2018. Icarus. V. 304. Pp. 24-30.
                        </a>
                    </li>
                    <li>
                        <a href="https://www.sciencedirect.com/science/article/abs/pii/S0019103512004435?via%3Dihub">
                            Evgeny A.Smirnov, Ivan I.Shevchenko. Massive identification of asteroids in three-body resonances. 2013. Icarus. V. 222. I. 1. Pp. 220-228.
                        </a>
                    </li>
                </ul>
            </small>
            <small class="d-block mb-3 text-muted">&copy; 2019</small>
        </div>
    </div>
</footer>
