<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('build/js/app.css') }}">
        {% block stylesheets %}{% endblock %}
        {{ encore_entry_script_tags('js/app') }}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-11430636-7"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'UA-11430636-7');
        </script>

    </head>
    <body>

        {% block body %}

            {% include '_nav.html.twig' %}

            <div class="container">
                <hr>
                {% block breadcrumb %}
                {% endblock %}

                {% block content %}
                {% endblock %}

                {% block footer %}
                    {% include '_footer.html.twig' %}
                {% endblock %}
            </div>

        {% endblock %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
