<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('build/js/app.css') }}">
        {% block stylesheets %}{% endblock %}
        <script src="{{ asset('build/js/app.js') }}"></script>
    </head>
    <body>

        {% block body %}

            {% include '_nav.html.twig' %}

            <div class="container">
                <hr>
                {% block breadcrumb %}
                {% endblock %}

                {% block content %}
                {% endblock %}

                {% block footer %}
                    {% include '_footer.html.twig' %}
                {% endblock %}
            </div>

        {% endblock %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
