{% extends 'base.html.twig' %}

{% block title %}ThreeBodyLibration index{% endblock %}

{% block content %}

    <h1>ThreeBodyLibration index</h1>

    <div id="container" style="height: 500px"></div>

    <script>
        window.series = JSON.parse('{{ ae|raw }}');
    </script>

{% endblock %}
