{% extends 'base.html.twig' %}

{% block title %}The Resonances With Planets{% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Resonances</li>
    </ol>
    </nav>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-6">
            {% include 'default/_threebody_resonances_list.html.twig' %}
        </div>
        <div class="col-md-6">
            {% include 'default/_twobody_resonances_list.html.twig' %}
        </div>
    </div>

{% endblock %}
