{% extends 'base.html.twig' %}

{% block title %}New ThreeBodyLibration{% endblock %}

{% block body %}
    <h1>Create new ThreeBodyLibration</h1>

    {{ include('three_body_libration/_form.html.twig') }}

    <a href="{{ path('three_body_libration_index') }}">back to list</a>
{% endblock %}
